<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styleIndex.css">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="bigode">
            <img src="images/bigode.png" alt="">
        </div>
        <div class="nameBrand">
            <h1>namebrand</h1>
        </div>
        <div class="mainTitle">
            <h2 id="title">Barber <br/> <span id="shop">Shop</span></h2>
        </div>
        <div class="bestStyle">
            <h3>best style</h3>
        </div>
        <div class="buttons">
            <a href="/agendar"><button>Agende seu corte</button></a>
            <a href="/entrar"><button>Dono? Clique aqui</button></a>
        </div>
    </div>
</body>
</html>